<body>
    <h2>Click on the images to view the repos</h2>
    <div class="projectList">
        <div class="indProject">
            <a href="https://github.com/nicopaulino/flourish">
             <img class="img" src="https://i.ibb.co/WfN9rZC/Screen-Shot-2021-01-26-at-3-19-31-PM.png">
            </a>
            <h4>Flourish</h4>
            <p>
                Social media app designed for plant enthusiasts. 
                Flourish allows users to take pictures of plants and identify them. 
                As well as use AR to view what a plant would look like in your own home.
            </p>
        </div>
        <div class="indProject">
            <a href="https://github.com/nicopaulino/doodle-society">
             <img class="img" src="https://i.ibb.co/WfN9rZC/Screen-Shot-2021-01-26-at-3-19-31-PM.png">
            </a>
            <h4>Doodle Society</h4>
            <p>
                An image sharing app that allows users to post their own images and draw 
                and edit their friends pictures.
            </p>
        </div>
        <div class="indProject">
            <a href="https://github.com/nicopaulino/howdy">
             <img class="img" src="https://i.ibb.co/WfN9rZC/Screen-Shot-2021-01-26-at-3-19-31-PM.png">
            </a>
            <h4>Howdy</h4>
            <p>
                A chat room app that lets users join chat rooms that are near their location. 
                Users can also change the theme of their chatroom and play games inside the chatroom.
            </p>
        </div>
    </div>
</body>