<body>
    <img src="https://i.ibb.co/MhtXt8W/bb-cropped.png"/>
    <h2>About Me</h2>
    <h3>Software development has become my biggest passion. 
        I wanted to become part of an industry that is changing the world every day. 
        In my spare time, I love to learn new technologies and make connections with others in the tech community. 
        I’m also a professional sound engineer and video editor. On weekends, 
        I serve in my local church’s youth ministry and lead a bible study on Fridays.
    </h3>
    <h2>Skills</h2>
    <ul class="skillsList">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Go</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>React JS</li>
        <li>React Native</li>
        <li>Angular</li>
        <li>SQL</li>
        <li>Socket.io</li>
        <li>Google Cloud</li>
        <li>Adobe Creative Cloud</li>
        <li>Presonus Univeral Control</li>
      </ul>
</body>
